<script>
  var songIndex = 1;
  showDivs(songIndex);

  function plusDivs(n) {
    showDivs(songIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("song");
    if (n > x.length) {songIndex = 1}
    if (n < 1) {songIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    x[songIndex-1].style.display = "block";
  }
</script>

<div id="blurb">
  <p>Hi! I'm Chris, a web developer and musician. Click <%= link_to 'here', projects_path %> to take a look at some of the websites and apps I've worked on. You'll find a lot of the code on my <%= link_to 'GitHub', 'https://github.com/webbc99/' %>.</p>

  <p>I recently wrote and recorded a full soundtrack for a game my younger brother built called <%= link_to 'Synthetic Reaper', 'https://conor-mg.herokuapp.com/articles/39' %>. You can hear the full soundtrack <%= link_to 'here', 'https://soundcloud.com/webbc99/sets/synthetic-reaper-soundtrack' %> - please let me know what you think by adding a comment!</p>

  <p>Please find a selection of my songs below. Make sure to check out my full profile on <a href="https://soundcloud.com/webbc99">SoundCloud!</a></p>

  <p>I've made a game! It's a simple 3D tower defence game. Download it <%= link_to 'here!', download_cwtd_path, :data => { :confirm => "Download my game?" } %> I also wrote the soundtrack! You can check that out <%= link_to 'here', 'https://soundcloud.com/webbc99/sets/cwtd-soundtrack' %>.</p>

</div>

<div id="songs">
  <iframe class="song" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/503557704&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <iframe class="song" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/550837206&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <iframe class="song" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/483041760&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <iframe class="song" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/455132550&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <iframe class="song" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/453803514&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <iframe class="song" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/433979028&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <iframe class="song" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/430556163&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <iframe class="song" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/430521312&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>

<div id="buttons">
  <button id="previousButton" class="button" onclick="plusDivs(-1)">Previous Track</button>
  <span class="slash">/</span>
  <button id="nextButton" class="button" onclick="plusDivs(+1)">Next Track</button>
</div>

<div id="images">
  <%= image_tag ('lazarus.jpg'), :class => 'pic', :id => 'pic_1' %>
  <%= image_tag ('strand_night.jpg'), :class => 'pic', :id => 'pic_2' %>
  <%= image_tag ('baby_frog.jpg'), :class => 'pic', :id => 'pic_3' %>
  <%= image_tag ('dicklands.jpg'), :class => 'pic', :id => 'pic_4' %>
  <%= image_tag ('hayley.jpg'), :class => 'pic', :id => 'pic_5' %>
  <%= image_tag ('me_and_nicki.jpg'), :class => 'pic', :id => 'pic_6' %>
</div>

<div>
  <p>For any enquires, please <%= link_to 'contact me', contact_path %>.</p>
</div>