<p>Below is a selection of the projects I've worked on recently, feel free to check them out. If you'd like to get in touch about building a website or web application, or if you'd just like to chat, please <%= link_to 'contact me', contact_path %>.</p>

<table>
  <tr>
    <td><p><%= link_to 'Conor|MG - Blog & Portfolio', 'https://conor-mg.herokuapp.com/' %></p></td>
    <td><p><%= link_to 'A-Clean Valeting - Single Page Site', 'https://a-clean.herokuapp.com/' %></p></td>
    <td><p><%= link_to 'KeyForge Cards - Full Card Database', 'https://github.com/webbc99/keyforge_cards' %></p></td>
  </tr>
  <tr>
    <td><%= image_tag ('conor-mg.png'), :class => 'project' %></td>
    <td><%= image_tag ('a-clean.png'), :class => 'project' %></td>
    <td><%= image_tag ('keyforge-cards.png'), :class => 'project' %></td>
  </tr>
</table>
<table>
  <tr>
    <td><p><%= link_to 'Presumptuous - Forum', 'https://presumptuous.herokuapp.com/' %></p></td>
    <td><p><%= link_to 'Lego Project - Blog', 'https://lego-project-site.herokuapp.com/' %></p></td>
    <td><p><%= link_to 'Alt-F4 - Single Page Site', 'http://altf4cheats.com/' %></p></td>
  </tr>
  <tr>
    <td><%= image_tag ('presumptuous.png'), :class => 'project' %></td>
    <td><%= image_tag ('lego-project.png'), :class => 'project' %></td>
    <td><%= image_tag ('alt-f4.png'), :class => 'project' %></td>
  </tr>
</table>

<p><%= link_to 'Back to the home page', root_path %></p>